@model IEnumerable<cars.Models.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name_car)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type_car)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Release_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name_car)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type_car)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
